<!-- 
    TODO
        Http Interceptor for progress spinners
        Alignment on cards
        Station hamburger info menu for app-navbar

 -->
<div class="card-container">
    <app-navbar
        [myLocalStation]="myLocalStation"
    ></app-navbar>
    <app-wunder-ground
        *ngIf="activeStation == 'wg'"
        class="weather-card"
        [(wgCurrentForecast)]="wgCurrentForecast"
    >   
    </app-wunder-ground>
    <app-dark-sky
        *ngIf="activeStation == 'ds'"
        class="weather-card"
        [(dsCurrentForecast)]="dsCurrentForecast"
    >
    </app-dark-sky>
    <app-nws
        *ngIf="activeStation == 'nws'"
        class="weather-card"
        [(nwsCurrentForecast)]="nwsCurrentForecast"
    >
    </app-nws>
    <app-weatherbit
        *ngIf="activeStation == 'wb'"
        class="weather-card"
        [(wbCurrentForecast)]="wbCurrentForecast"
    >
    </app-weatherbit>
</div>
<!-- other station components to go here -->
<app-station-nav 
    (station)="setLocalStation($event)"
></app-station-nav>
<app-wg-body
    *ngIf="activeStation == 'wg'"
    [(wgExtendedForecast)]="wgExtendedForecast"
>

</app-wg-body>